* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar_scroll {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(157, 157, 157, 0.25);
}

.happyfaces-logo {
  width: 138px;
}

.nav-list {
  display: flex;
  gap: 26px;
  font-size: 20px;
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  color: rgba(82, 82, 82, 1);
}

.nav-list a:first-child {
  color: #01045e;
  font-weight: 700;
}

.group-btn {
  display: flex;
  align-items: center;
  gap: 17px;
}

.mobile_btn {
  cursor: pointer;
  display: none;
}

.section-title {
  width: fit-content;
  padding: 7px 28px;
  border-radius: 20px;
  border: 1px solid #002b6b;
  color: #002b6b;
  font-weight: 800;
  line-height: 167%;
  font-size: 36px;
  letter-spacing: 2%;
  text-transform: capitalize;
}

@media only screen and (max-width: 576px) {
  .navbar {
    padding: 0 16px;
  }

  .happyfaces-logo {
    width: 90px;
  }

  .nav-list {
    display: none;
  }

  .mobile_btn {
    display: inline-block;
  }

  .section-title {
    font-size: 16px;
    letter-spacing: 2%;
    padding: 4px 12px;
  }
}

.sidebar {
  position: fixed;
  right: -300px;
  height: 100vh;
  width: 200px;
  background-color: white;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.sidebar .nav-link {
  background-color: #ccc;
  padding: 10px;
  text-align: left;
  color: #000;
}

.sidebar.show {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: white;
  z-index: 100;
  transition: all 0.5s ease;
  border-left: 4px solid rgba(157, 157, 157, 0.1);
  padding: 10px;
}

.close_btn {
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.call-btn {
  background-color: #ff2121;
  border: 0.5px solid #f78924;
  color: #fff8f1;
  height: fit-content;
  border-radius: 16px;
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  width: 160px;
}

.call-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.call-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.call-btn:hover span {
  padding-right: 20px;
}

.call-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.main-content {
  padding: 119px 0 0;
}

@media only screen and (max-width: 576px) {
  .main-content {
    padding: 62px 0 0;
  }

  .call-btn {
    border-radius: 10px;
    width: 120px;
    padding: 10px 0;
    font-size: 13px;
  }
}

.intro {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding-left: 67px;
  padding-right: 67px;
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}

.course-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  color: rgba(0, 43, 107, 1);
  text-shadow: 0px 4px 4px rgba(0, 79, 197, 0.3);
}

.training-text {
  text-transform: capitalize;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  color: rgba(0, 43, 107, 1);
  margin-bottom: 20px;
}

.intro-text-desc {
  line-height: 1.5;
}

.intro-img-wrapper {
  position: relative;
}

.intro-img-wrapper .hero-image {
  width: 542px;
}

.mobile-intro-img {
  display: none;
}

.intro-img-wrapper .contact-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.intro-img-wrapper .teacher {
  border-radius: 100%;
}

.intro-img-wrapper .teacher1 {
  position: absolute;
  top: 4px;
  right: 298px;
}

.intro-img-wrapper .teacher2 {
  position: absolute;
  top: 53px;
  right: 421px;
}

.intro-img-wrapper .teacher3 {
  position: absolute;
  top: 255px;
  right: 474px;
}

.intro-img-wrapper .teacher4 {
  position: absolute;
  bottom: 0;
  right: 421px;
}

@media only screen and (max-width: 576px) {
  .intro {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
  }

  .intro-text-wrapper {
    width: 260px;
    gap: 40px;
    z-index: 2;
  }

  .course-text {
    font-size: 32px;
  }

  .training-text {
    font-size: 20px;
  }

  .intro-text-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* display: none; */
  }

  .intro-img-wrapper {
    display: none;
  }

  .mobile-intro-img {
    display: block;
    width: 270px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .teacher {
    display: none;
  }
}

.program {
  padding: 120px 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.program-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 120px;
  border-radius: 30px;
}

.program-card {
  max-height: 450px;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease;
}

.program-card:hover {
  transform: translateY(-5px);
}

.program-card_icon {
  height: 140px;
}

.program-card_icon img {
  height: 100%;
  object-fit: cover;
}

.program-card_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  color: rgba(31, 28, 20, 1);
  height: 72px;
}

.program-card_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(31, 28, 20, 0.7);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.program-card_desc::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 576px) {
  .program {
    gap: 33px;
    padding: 70px 25px 0;
  }

  .program-content {
    grid-template-columns: 1fr 1fr;
    gap: 21px;
  }

  .program-card {
    padding: 0 13px 11px;
  }

  .program-card_icon {
    height: 60px;
  }

  .program-card_title {
    height: fit-content;
    font-size: 12px;
  }

  .program-card_desc {
    display: none;
  }
}

.courses {
  background-image: url("./assets/course-goals.svg");
  background-size: cover;
  padding: 120px 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-goals {
  display: flex;
  gap: 70px;
  margin: 37px 0 49px;
}

.goals-col {
  flex: 1;
  background-color: #fcfcfd;
  border-radius: 12px;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #f1f1f3;
}

.goals-heading {
  background-color: #fed843;
  padding: 10px 22px;
  border-radius: 4px;
  border: 1px solid #fed843;
  color: #262626;
  font-size: 24px;
  font-weight: 600;
  line-height: 169%;
  letter-spacing: 0%;
  text-align: center;
}

.goals-items-wrapper {
  border: 1px solid #f1f1f3;
  border-radius: 14px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.goal-item {
  display: flex;
  align-items: start;
  gap: 15px;
  border-radius: 6px;
  padding: 12px;
  border: 1px solid #f1f1f3;
  color: #4c4c4d;
  line-height: 150%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
}

.checkbox {
  padding-top: 5px;
}

@media only screen and (max-width: 576px) {
  .courses {
    padding-left: 30px;
    padding-right: 30px;
  }

  .course-goals {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .goals-col {
    padding: 0;
  }

  .goals-heading {
    font-size: 18px;
  }

  .goal-item {
    font-size: 14px;
  }

  .checkbox {
    width: 20px;
  }
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  padding: 120px 120px 0;
}

.schedule-content {
  display: flex;
  padding: 20px 0;
  color: #002b6b;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0 0 0 4px rgba(254, 216, 67, 0.8),
    inset 0 0 0 4px rgba(254, 216, 67, 0.3);
}

.schedule-content .schedule-item:not(:last-child) {
  border-right: 3px solid rgba(250, 190, 44, 1);
}

.schedule-content .schedule-item {
  flex: 1;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.schedule-item_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.schedule-item_desc {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 576px) {
  .schedule {
    padding-left: 35px;
    padding-right: 35px;
  }

  .schedule-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 14px;
  }

  .schedule-content .schedule-item {
    padding: 15px 10px;
    gap: 15px;
  }

  .schedule-content .schedule-item:not(:last-child) {
    border-right: none;
    border-bottom: 3px solid rgba(250, 190, 44, 1);
  }

  .schedule-item_title {
    font-size: 20px;
  }

  .schedule-item_desc {
    gap: 12px;
  }
}

.text-bold {
  font-weight: 600;
}

.method {
  display: flex;
  flex-direction: column;
  gap: 66px;
  align-items: center;
  padding: 100px 90px 0;
}

.method-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.method-content .method-item:nth-child(odd) {
  background-color: #fff8e5;
  margin-top: 70px;
}

.method-content .method-item:nth-child(even) {
  background-color: #b0d0ff;
}

.method-item {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  font-size: 24px;
  font-weight: 700;
  padding: 15px;
  background-color: #fff8e5;
  color: #184f78;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(157, 157, 157, 0.3);
}

@media only screen and (max-width: 576px) {
  .method {
    padding-left: 20px;
    padding-right: 20px;
    gap: 45px;
  }

  .method-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .method-content .method-item:nth-child(odd) {
    margin-top: 0;
  }

  .method-item {
    font-size: 14px;
    height: 200px;
  }

  .method-item_image {
    width: 100px;
    height: 100px;
  }
}

.discount {
  padding: 120px 150px 0;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
}

.discount-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 200px; */
}

.discount-left {
  max-width: 550px;
}

.discount-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #002b6b;
}

.discount-price {
  font-weight: 800;
  font-style: italic;
  font-size: 78px;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffb500;
  text-shadow: 0px 4px 4px rgba(198, 140, 0, 0.7);
}

.discount-duration {
  color: #002b6b;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  padding-right: 20px;
}

.discount-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 39px;
  padding-top: 29px;
}

.discount-item {
  border-radius: 16px;
  border: 6px solid #fabe2c;
  background: linear-gradient(
    230.51deg,
    #fffcf6 33.06%,
    rgba(255, 241, 206, 0.47) 93.93%
  );
  position: relative;
  color: #694a00;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 25px 18px 27px;
  width: 253px;
  height: 236px;
}

.discount-number {
  font-weight: 800;
  font-size: 64px;
  line-height: 120%;
  color: #ff2121;
  vertical-align: middle;
}

.per-price {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  color: #ff2121;
}

.sub {
  font-size: 20px;
  line-height: 120%;
  vertical-align: bottom;
  color: #ff2121;
}

.discount-group {
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
}

.discount-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-note {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.form-register {
  border: 1px solid #595959;
  border-radius: 30px;
  padding: 15px 33px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #01045e;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-heading_bold {
  font-weight: 800;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #01045e;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
}

.countdown {
  width: fit-content;
  background-color: #fed843;
  border-radius: 20px;
  padding: 10px 37px;
  display: flex;
  gap: 16px;
  color: #000;
  font-weight: 700;
  font-size: 22px;
}

.countdown p {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.form-container {
  width: 100%;
  text-align: center;
}

.input-field {
  width: 400px;
  padding: 20px 16px 3px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.input-field input {
  border: 1px solid #ababab;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  width: 100%;
}

.input-field input:focus {
  border: 1px solid #fed843;
  outline: none;
}

.required {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #eb5757;
}

.register_btn {
  overflow: hidden;
  position: relative;
  background-color: #ff2121;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 18px 52px;
  border-radius: 12px;
  border: none;
  margin-top: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register_btn span {
  z-index: 1;
  position: relative;
}

.register_btn::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -100%;
  width: 80px;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(25deg);
  transition: left 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.register_btn:hover::after {
  left: 120%;
}

@media only screen and (max-width: 576px) {
  .discount {
    padding-left: 30px;
    padding-right: 30px;
  }

  .discount-content {
    flex-direction: column;
    gap: 25px;
  }

  .discount-heading {
    font-size: 18px;
  }

  .discount-price {
    font-size: 48px;
  }

  .discount-duration {
    font-size: 14px;
  }

  .discount-wrapper {
    padding-left: 43px;
    padding-right: 43px;
  }

  .discount-number {
    font-size: 40px;
  }

  .form-register {
    width: 100%;
    padding: 20px 15px;
  }

  .form-heading {
    font-size: 18px;
  }

  .form-heading_bold {
    font-size: 28px;
  }

  .input-field {
    max-width: 100%;
  }
}

.certificate {
  padding: 120px 110px 50px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}

.certificate-content {
  background-color: #eef2f8;
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px 40px;
}

.certificate-item {
  color: #002b6b;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 576px) {
  .certificate {
    padding: 30px;
    gap: 20px;
  }

  .certificate-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .certificate-item {
    font-size: 13px;
  }

  .certificate-item img {
    width: 60px;
  }
}

.feedback {
  background-color: #fff8e5;
  padding: 30px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.feedback-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  vertical-align: middle;
  color: #002b6b;
  text-align: center;
}

.feedback-content {
  display: flex;
  gap: 32px;
}

.feedback-item {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 27px 20px 10px;
}

.feedback-item .feedback-item_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user_feedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(31, 28, 20, 0.7);
}

.user_avartar {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.user_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5%;
  text-align: center;
}

.rating {
  display: flex;
  gap: 8px;
}

.feedback-image-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.img1,
.img4 {
  grid-row: 1 / 3;
}

.img2 {
  grid-column-start: 2;
}

.img3 {
  grid-row-start: 2;
}

.feedback-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .feedback {
    padding: 20px 16px;
  }

  .feedback-title {
    font-size: 24px;
    line-height: 150%;
  }

  .feedback-content {
    flex-direction: column;
    gap: 40px;
  }

  .feedback-item {
    position: relative;
    padding: 28px 18px;
    width: 70%;
  }

  .feedback-content .feedback-item:nth-child(even) {
    align-self: flex-end;
  }

  .user_avartar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .user_feedback {
    font-size: 12px;
  }

  .feedback-image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

footer {
  background-color: rgba(0, 43, 107, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 30px;
}

.social-link {
  flex-basis: 30%;
  padding: 40px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
}

.slogan {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.link-wrapper_item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link-wrapper_item a {
  text-decoration: none;
  color: #fff;
}

.social-text_mobile {
  display: none;
}

.social-contact {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 50px;
}

.branch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
}

.branch-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.branch-item_heading {
  font-size: 14px;
  font-weight: 700;
}

.footer-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
}

.social-company {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 50px;
}

.footer-title {
  line-height: 150%;
}

@media only screen and (max-width: 576px) {
  footer {
    flex-direction: column;
    gap: 30px;
    padding: 17px;
  }

  .footer-title {
    display: none;
  }

  .social-link {
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .slogan,
  .link-wrapper {
    display: none;
  }

  .social-text_mobile {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .slogan_mobile {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
  }

  .link-wrapper_mobile {
    display: flex;
    gap: 12px;
  }

  .social-contact {
    padding: 0;
  }

  .address {
    font-size: 12px;
  }

  .social-company {
    display: none;
  }

  .link {
    display: none;
  }
}
